@model JFLatest.Models.LocalPasswordModel
<section id="changePasswordForm" style="width:30%;margin:0 auto" class="page-canvas">
    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    change password
                </h3>
            </div>

            <div class="panel-body">
                <div style="margin-bottom:10px">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <div style="margin-bottom:10px">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
                <div style="margin-bottom:10px">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <input class="btn btn-primary pull-right" type="submit" value="Change password" />
            </div>
        </div>

    }
</section>
